ul {
    list-style: none;
    counter-reset: list-counter;
}

ul ul {
    list-style-type: lower-alpha;
}

ul ul ul {
    list-style-type: disc;
}

main>ul>li {
    counter-increment: list-counter;
}

main>ul>li::before {
    content: counter(list-counter) ".";
    color: var(--orange-color);
    font-weight: bold;
    display: inline-block;
}