    .nav-link {
        font-family: Montserrat, 'Open Sans', Inter, sans-serif !important;
    }

    #avatar {
        width: 38px;
        height: 38px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
    }

    .navbar-nav li {
        font-family: Montserrat, 'Open Sans', Inter, sans-serif !important;
    }

    #notification {
        position: relative;
    }

    .notification-number {
        position: absolute;
        color: var(--text_dark_theme-color);
        background-color: red;
        padding: 2px 4px;
        line-height: 10px;
        font-size: 8px;
        top: 0;
        right: -6px;
    }

    .clean-navbar {
        display: none;
    }

    
    .cursor-pointer {
    cursor: pointer;
    }
    
    .theme-color-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    z-index: 1000;
    display: none;
    min-width: 200px;
    }
    
    .theme-color-dropdown.show {
    display: block;
    }
    
    .color-option {
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    }
    
    .color-option:hover {
    transform: scale(1.1);
    border: 2px solid rgba(0, 0, 0, 0.3);
    }
    
    .color-option.active {
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px var(--primary-color);
    }
    

    @media screen and (max-width: 992px) {
        /* HEADER */

        .clean-navbar {
            display: block;
        }

        .clean-navbar-before {
            display: none;
        }

    }