
<main id="content" class="container-fluid bg-black-primary pt-5 mt-5">
    <div class="row">
        <div class="col-2 bg-black-primary">
        </div>


        <div id="content-favorite-songs" class="col-10 p-4 pt-0">

            <div class="d-flex flex-wrap song-active-banner mb-5">
                <div class="song-img-active-container pe-4">
                    <img src="assets/images/white-heart.png" alt=""
                        class="song-img-active rounded-circle">
                </div>
                <div class="song-active-info d-flex flex-column-reverse pt-4">
                    <div class="mt-4 d-flex flex-wrap align-items-start">
                        <span class="text-white-primary d-block lh-lg"><i class="fa-solid fa-music pe-2"></i>{{ quantity}} bài hát</span>
                    </div>
                    <h1 class="text-white-primary">Bài hát yêu thích</h1>
                </div>
            </div>

                <!-- HAVE FAVORITE LIST SONGS -->

                <div *ngIf="quantity > 0" id="have-list-songs-favorite">
                    <ul class="text-support ps-0 row">
                        <li class="mt-3 p-2 rounded-2">
                            <div class="d-flex row">
                                <div class="fw-bolder col-lg-5">
                                    BÀI HÁT
                                </div>
                                <div class="fw-bolder col-lg-4">
                                    ALBUM
                                </div>
                                <div class="fw-bolder col-lg-2">
                                    THỜI LƯỢNG
                                </div>
                            </div>
                        </li>

                        <app-row-card class="rounded-2 col-md-6 col-lg-12 favorite-song"
                            *ngFor="let song of songs"
                            [song]="song"
                            [isOwner]="false"
                            ></app-row-card>

                    </ul>
                </div>

                            <!-- FAVORITE LIST SONGS EMPTY -->


                <div *ngIf="isLoggedIn && quantity == 0" id="no-list-songs-favorite">
                    <img id="empty-list-songs-img" src="assets/images/Empty-songs.png" alt="" class="mx-auto d-block" style="width: 350px;">
                    <h3 class="text-white-primary text-center mb-5">Chưa có bài hát nào được yêu thích!</h3>
                </div>
    
                <div *ngIf="!isLoggedIn" id="no-list-songs-favorite">
                    <img id="empty-list-songs-img" src="assets/images/Empty-songs.png" alt="" class="mx-auto d-block" style="width: 350px;">
                    <h3 class="text-white-primary text-center mb-5">Vui lòng đăng nhập để trải nghiệm tính năng này!</h3>
                </div>

        </div>
    </div>
</main>