<main id="content-user" class="container-fluid bg-black-primary">
    <div class="row">

        <div class="col-2 bg-black-primary">
        </div>
        <div class="col-10 content p-4 pt-0">
            <div class="d-flex flex-wrap user-active-banner mb-5">
                <div class="user-img-active-container pe-4">
                    <img *ngIf="originUser"
                    [src]="'http://localhost:8080/symphony/uploads' + originUser.avatar"
                    alt=""
                        class="user-img-active rounded-circle">
                </div>
                <div class="song-active-info d-flex flex-column-reverse pt-4">
                    <p *ngIf="singer" class="text-decoration-none text-white-primary">{{ singer.followers | number:'1.0-0' }} người theo dõi</p>
                    <h1 *ngIf="singer" class="text-white-primary">{{ singer.stageName }}</h1>
                </div>
            </div>


            <div class="active-user-option mb-4 d-flex flex-wrap">
                <div class="active-song-status rounded-circle bg-orange-primary me-4 d-flex flex-column justify-content-center mb-3">
                    <i class="fa-solid fa-play d-block mx-auto text-white-primary fs-5"></i>
                    <!-- <i class="fa-solid fa-pause d-block mx-auto text-white-primary fs-5"></i> -->
                </div>

                    <div *ngIf="!isOwner()" class="d-flex flex-column justify-content-center mb-3">
                        <div class="btn btn-follow text-white-primary border-1 me-3" style="border-color: var(--white-color);">
                            <i class="fa-solid fa-user-plus"></i>
                            Theo dõi
                        </div>
                    </div>

                <div class="dropdown d-flex flex-column justify-content-center mb-3">
                    <div class="btn rounded-circle bg-dark_grey-color dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-ellipsis text-white-primary"></i>
                    </div>
                    <ul class="dropdown-menu bg-dark_grey-color">
                            <li *ngIf="isOwner()" ><a id="createSong" class="dropdown-item text-white-primary" href="#" data-bs-toggle="modal" data-bs-target="#songModalCreate">Thêm bài hát</a></li>
                            <li *ngIf="!isOwner()" ><a class="dropdown-item text-white-primary btn" href="#">Theo dõi</a></li>
                            <li *ngIf="!isOwner()" ><a class="dropdown-item text-white-primary btn" href="#">Báo cáo</a></li>
                    </ul>
                </div>
            </div>


            <!-- Song of singer -->

                <div *ngIf="songs" id="singer-product">
                    <div id="have-list-songs-product">
                        <h5 class="text-white-primary mt-4">BÀI HÁT NỔI BẬT</h5>

                        <ul class="text-support ps-0 row">
                            <li class="mt-3 p-2 rounded-2">
                                <div class="d-flex row">
                                    <div class="fw-bolder col-lg-5">
                                        BÀI HÁT
                                    </div>
                                    <div class="fw-bolder col-lg-4">
                                        ALBUM
                                    </div>
                                    <div class="fw-bolder col-lg-2">
                                        THỜI LƯỢNG
                                    </div>
                                </div>
                            </li>

                            <app-row-card class="col-md-6 col-lg-12 "
                            (songSelected)="onSongSelected($event)"
                            *ngFor="let song of songs"
                            [song]="song"
                            [isOwner]="isOwner()"
                            (isEdit)="onEdit()"
                            (openModal)="openModal()"
                            ></app-row-card>
                        </ul>
                    </div>

                </div>


                <div *ngIf="!songs" id="no-list-songs-favorite">
                    <img id="empty-list-songs-img"
                    src="http://localhost:8080/symphony/uploads/images/other/Empty-songs.png" alt="" class="mx-auto d-block">
                    <h3 class="text-white-primary text-center">Ca sĩ hiện chưa có sản phẩm âm nhạc nào!</h3>
                </div>

            <!-- Quyền của ca sĩ sở hữu trang web -->

                <!-- Chỉnh sửa bài hát nhưng không được phép cập nhật lại file nhạc -->
                <div #editModel *ngIf="isOwner() && selectedSong"  class="modal" id="songModalEdit">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content bg-dark_grey-color text-white-primary">

                            <div class="modal-header">
                                <h4 class="modal-title">Thông tin bài hát</h4>
                                <button  #close_update_modal type="button" class="btn-close bg-grey-color" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <form method="post" enctype="multipart/form-data" [formGroup]="editSongForm">

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div id="song-edit-img" class="mb-3">
                                                <div class="song-edit-img-container rounded-4" style="max-width: 200px;" (click)="triggerFileInputEdit()">
                                                    <img
                                                    [src]="songSelectedImg" alt=""
                                                        class="song-img-active rounded-4 w-100" style="max-width: 200px;">
                                                    <div id="modal-edit" class="w-100 rounded-4 text-white-primary" style="max-width: 200px;">
                                                        <div class="d-flex flex-column justify-content-center h-100 w-100">
                                                            <p class="text-center fs-5">Chọn ảnh <i class="fa-regular fa-pen-to-square"></i></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input #inputSongEdit (change)="onFileEditChange($event)" id="input-song-edit-img" type="file" value=""
                                                class="form-control text-white-primary bg-black-primary no-outline shadow-none" name="song_img" hidden>
                                          <!-- adv -->
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="mb-3">
                                                <label for="song_name" class="text-white-primary mb-3">Tên bài hát:</label>
                                                <input required type="text"
                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                    id="song_name" name="songName" [value]="selectedSong.songName" formControlName="songName">
                                                <!-- adv -->
                                            </div>
                                            <div class="mb-3">
                                                <label for="isVip" class="form-check-label text-white-primary mb-3 me-2">Bài hát vip:</label>
                                                <input required type="checkbox" 
                                                    class="form-check-input"
                                                    id="isVip" name="isVip" [checked]="selectedSong.isVip" value="true" formControlName="isVip">
                                                <!-- adv -->
                                            </div>
                                            <div class="mb-3">
                                                <label for="author" class="text-white-primary mb-3">Tác giả:</label>
                                                <input required type="text"
                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                    id="author" name="author"  formControlName="author">
                                                <!-- adv -->
                                            </div>
                                    
                                            <div class="mb-3">
                                                <label for="singers_present" class="text-white-primary mb-3">Ca sĩ thể hiện:</label>

                                                <input 
                                                *ngFor="let singer of selectedSong.singers"
                                                class="form-control text-white-primary bg-black-primary no-outline shadow-none mb-3" 
                                                type="text" 
                                                [value]="singer.stageName" 
                                                readonly 
                                                disabled
                                              >
                                                                                              
                                                <select formControlName="singersId" class="form-select bg-black-primary text-white-primary" id="singers_present" name="singers_present[]" multiple>
                                                    <option value="" disabled selected>Ca sĩ cùng thể hiện (nếu có)</option>
                                                    <option 
                                                        *ngFor="let singer of singerNotPresent" 
                                                        [value]="singer.singer_id"
                                                        class="bg-black-primary text-white-primary"
                                                    >
                                                    {{ singer.stageName }}
                                                    </option>
                                                          
                                                </select>
                                            </div>
                                            <div class="mb-3 mt-3">
                                                <label for="lrcFile" class="text-white-primary mb-3">File LRC bài hát:</label>
                                                <input type="file"
                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                    id="lrcFile" name="lrcFile" (change)="onFileUpdateChange($event, 'lrc')" accept=".lrc">
                                                <!-- adv -->
                                            </div>
                                            <div class="mb-3 mt-3">
                                                <label for="lyric" class="text-white-primary mb-3">Lời bài hát:</label>
                                                <input type="file"
                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                    id="lyric" name="lyricFile" (change)="onFileUpdateChange($event, 'lyric')"  accept=".txt">
                                                <!-- adv -->
                                            </div>
                                            <div class="mb-3">
                                                <label for="category_id" class="text-white-primary mb-3">Thể loại:</label>
                                                <select formControlName="categoryIds" class="form-select bg-black-primary text-white-primary" aria-label="Default select example" id="category_id" name="categories[]" multiple required>
                                                    <option
                                                        *ngFor="let category of categories" 
                                                        class="bg-black-primary text-white-primary" 
                                                        [value]="category.category_id"
                                                        >
                                                        {{ category.category_name }}
                                                        </option>
                                                </select>
                                                <!-- adv -->
                                            </div>
                                            <div class="mb-3 mt-3">
                                                <label for="releaseDate" class="text-white-primary mb-3">Ngày phát hành:</label>
                                                <input required type="date" formControlName="releaseDate" 
                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                    id="releaseDate" placeholder="" name="releaseDate" [max]="maxDate" value="">
                                                <!-- adv -->
                                            </div>
                                            <div class="mb-3 mt-3">
                                                <label for="duration" class="text-white-primary mb-3">Thời lượng(s):</label>
                                                <input formControlName="duration" required type="number"
                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                    id="duration" name="duration" value="" min="0">
                                                <!-- adv -->
                                            </div>
                                            <input formControlName="song_id" type="text" hidden name="song_id" [value]="selectedSong.song_id">
                                            <input formControlName="song_img" type="text" hidden name="song_img" [value]="selectedSong.song_img">
                                            <input formControlName="lyric" type="text" hidden name="lyric" [value]="selectedSong.lyric">
                                            <input formControlName="lrc" type="text" hidden name="lrc" [value]="selectedSong.lrc">

                                            <input type="text" value="" name="CSRFToken" hidden readonly>
                                            <button type="submit" id="btn-submit" class="btn text-white-primary bg-orange-primary fw-bolder" (click)="onSubmitUpdate()">Lưu</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                

            <!-- Thêm bài hát -->
                                <div *ngIf="isOwner()" class="modal" id="songModalCreate">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content bg-dark_grey-color text-white-primary">
                
                                            <div class="modal-header">
                                                <h4 class="modal-title">Thông tin bài hát</h4>
                                                <button type="button" #close_create_modal id="close_create_modal" class="btn-close bg-grey-color" data-bs-dismiss="modal"></button>
                                            </div>
                
                                            <div class="modal-body">
                                                <form method="post" enctype="multipart/form-data" [formGroup]="createSongForm">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div id="song-info-img" class="mb-3">
                                                                <div class="song-info-img-container rounded-4" (click)="triggerFileInput()" style="max-width: 200px;">
                                                                    <img  [src]="defaultSongImg" alt=""
                                                                        class="song-img-active rounded-4 w-100" style="max-width: 200px;">
                                                                    <div id="modal-song" class="w-100 rounded-4 text-white-primary" style="max-width: 200px;">
                                                                        <div class="d-flex flex-column justify-content-center h-100 w-100">
                                                                            <p class="text-center fs-5">Chọn ảnh <i class="fa-regular fa-pen-to-square"></i></p>
                                                                        </div>
                                                                    </div>
                                                                    <input (change)="onFileChange($event)" (change)="onFileCreateChange($event, 'image')" id="input-song-info-img" #inputSongCreate type="file" class="form-control" name="songImgFile" hidden accept=".jpeg, .jpg, .png">
                                                                </div>
                                                                <!-- adv -->
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="mb-3">
                                                                <label for="song_name" class="text-white-primary mb-3">Tên bài hát:</label>
                                                                <input required type="text"
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="song_name" name="songName" value="" formControlName="songName">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="isVip" class="form-check-label text-white-primary mb-3 me-2">Bài hát vip:</label>
                                                                <input required type="checkbox" 
                                                                    class="form-check-input"
                                                                    id="isVip" name="isVip" value="true" formControlName="isVip">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="author" class="text-white-primary mb-3">Tác giả:</label>
                                                                <input required type="text"
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="author" name="author" value="" formControlName="author">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="singers_present" class="text-white-primary mb-3">Ca sĩ thể hiện:</label>
                
                                                                <input class="form-control text-white-primary bg-black-primary no-outline shadow-none mb-3" type="text" *ngIf="singer" [value]="singer.stageName" readonly disabled>
                                                                <input type="number" name="singer_owns" readonly value="" hidden require>
                                                                <select formControlName="singersId" class="form-select bg-black-primary text-white-primary" aria-label="Default select example" id="singers_present" name="singers_present[]" multiple>
                                                                    <option value="" disabled selected>Ca sĩ cùng thể hiện (nếu có)</option>
                                                                    <option 
                                                                        *ngFor="let singer of singerExclude" 
                                                                        [value]="singer.singer_id"
                                                                        class="bg-black-primary text-white-primary"
                                                                    >
                                                                        {{ singer.stageName }}
                                                                    </option>
                                                                    <!-- adv -->
                                                                </select>
                                                            </div>
                                                            <div class="mb-3 mt-3">
                                                                <label for="path" class="text-white-primary mb-3">File bài hát:</label>
                                                                <input required type="file"
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="path" name="musicFile" (change)="onFileCreateChange($event, 'music')" accept=".mp3">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3 mt-3">
                                                                <label for="lrcFile" class="text-white-primary mb-3">File LRC bài hát:</label>
                                                                <input required type="file"
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="lrcFile" name="lrcFile" (change)="onFileCreateChange($event, 'lrc')" accept=".lrc">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3 mt-3">
                                                                <label for="lyric" class="text-white-primary mb-3">Lời bài hát:</label>
                                                                <input required type="file"
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="lyric" name="lyricFile" (change)="onFileCreateChange($event, 'lyric')" readonly  accept=".txt">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="category_id" class="text-white-primary mb-3">Thể loại:</label>
                                                                <select required formControlName="categoryIds" class="form-select bg-black-primary text-white-primary" aria-label="Default select example" id="category_id" name="categories[]" multiple required>
                                                                    <option value="" disabled selected>Vui lòng chọn thể loại</option>
                                                                    <option
                                                                        *ngFor="let category of categories" 
                                                                        class="bg-black-primary text-white-primary" 
                                                                        [value]="category.category_id"
                                                                    >
                                                                    {{ category.category_name }}
                                                                    </option>
                                                                </select>
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3 mt-3">
                                                                <label for="releaseDate" class="text-white-primary mb-3">Ngày phát hành:</label>
                                                                <input required type="date" formControlName="releaseDate" 
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="releaseDate" placeholder="" name="releaseDate" [max]="maxDate" value="">
                                                                <!-- adv -->
                                                            </div>
                                                            <div class="mb-3 mt-3">
                                                                <label for="duration" class="text-white-primary mb-3">Thời lượng(s):</label>
                                                                <input formControlName="duration" required type="number"
                                                                    class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                                                                    id="duration" name="duration" value="" min="0">
                                                                <!-- adv -->
                                                            </div>
                                                            <input type="number" formControlName="total_listens" value="0" hidden name="total_listens">
                                                            <input type="text" value="" name="CSRFToken" hidden readonly>
                                                            <a id="btn-submit" class="btn text-white-primary bg-orange-primary fw-bolder" (click)="onSubmitCreate()">Lưu</a>
                                                        </div>
                                                    </div>
                                                </form>
    
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                                <!-- Xóa bài hát -->

                                <div *ngIf="isOwner()" class="modal" id="deleteSongModal">
                                    <div class="modal-dialog modal-sm modal-dialog-centered">
                                        <div class="modal-content bg-dark_grey-color text-white-primary">
                
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Bạn chấp nhận xóa bài hát</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                
                                            <div class="modal-body">
                                                <p>Bài hát vẫn tồn tại trong hệ thống nếu bài hát còn sở hữu bởi một số nghệ sĩ khác.</p>
                                            </div>
                
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" id='delete-song-btn' (click)="onSubmitDelete()" data-bs-dismiss="modal">Xóa</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>

        </div>

    </div>
</main>