<main id="content" class="container bg-black-primary p-0 pt-5 text-white-primary mb-5">
    <div class="row pt-5">
        <div class="col-sm-7">
            <h1 class="mb-5">Giới Thiệu Về Chúng Tôi</h1>
            <div>
                <p>Với Symphony, bạn có thể dễ dàng tìm nhạc thích hợp cho từng khoảnh khắc - trên điện
                    thoại, máy tính, máy tính bảng và các thiết bị khác.</p>
                <p>Có hàng triệu bản nhạc và tập nội dung trên Symphony. Vì vậy, dù đang lái xe, tập thể dục, dự
                    tiệc
                    hay thư giãn, bạn luôn có thể dễ dàng chọn được nhạc hoặc podcast phù hợp. Chọn nội dung bạn
                    muốn nghe hoặc tận hưởng điều ngạc nhiên từ Symphony.</p>
                <p>Bạn cũng có thể duyệt xem các bộ sưu tập của bạn bè, nghệ sĩ và người nổi tiếng hoặc tạo đài phát
                    radio và cứ thế thưởng thức.</p>
                <p>Hãy để cuộc sống của bạn tràn ngập tiếng nhạc với Symphony. Bạn có thể đăng ký hoặc nghe miễn
                    phí.
                </p>

            </div>
        </div>
        <div class="col-sm-5">
            <div class="img-introduce">
                <img src="assets/images/introduce-1.jpg" alt="" class="w-100">
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-sm-5 order-sm-2">
            <h1 class="mb-5">Dịch vụ Khách hàng và Hỗ trợ</h1>
            <div>
                <p>Hãy truy cập vào trang <a href="contact.php" class="text-orange-primary">Liên hệ</a> của chúng
                    tôi
                    để tìm câu trả lời cho các thắc mắc của bạn và tìm
                    hiểu cách khai thác tối đa Symphony cũng như âm nhạc của bạn.</p>

            </div>
        </div>
        <div class="col-sm-7 order-sm-1">
            <div class="img-introduce">
                <img src="assets/images/introduce-2.jpg" alt="" class="w-100">
            </div>
        </div>
    </div>
    <div class="row pt-5 branch mt-5 mb-3">
        <h1 class="text-center mb-5">Trụ sở và Chi nhánh của chúng tôi</h1>
        <div class="col-sm-6 col-lg-3">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle" src="assets/images/chinhanh-hanoi.jpg" alt="">
            </div>
            <h4 class="text-center mt-4 mb-4">Hà Nội</h4>
            <p>Phone: 0123 456 789</p>
            <p>Email: office&#64;symphony.com</p>
            <p>Địa chỉ: 2VJ2+7XC, P. Đinh Tiên Hoàng, Hàng Trống, Hoàn Kiếm, Hà Nội 100000</p>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle" src="assets/images/chinhanh-danang.jpg" alt="">
            </div>
            <h4 class="text-center mt-4 mb-4">Đà Nẵng</h4>
            <p>Phone: 0123 456 789</p>
            <p>Email: office&#64;symphony.com</p>
            <p>Địa chỉ: Thôn An Sơn, Hòa Vang, Đà Nẵng</p>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle" src="assets/images/chinhanh-thanhphohochiminh.jpg" alt="">
            </div>
            <h4 class="text-center mt-4 mb-4">Thành phố Hồ Chí Minh</h4>
            <p>Trụ sở chính</p>
            <p>Phone: 0123 456 789</p>
            <p>Email: office&#64;symphony.com</p>
            <p>Địa chỉ: 720A Đ. Điện Biên Phủ, Vinhomes Tân Cảng, Bình Thạnh, Hồ Chí Minh 72300</p>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle" src="assets/images/chinhanh-cantho.jpg" alt="">
            </div>
            <h4 class="text-center mt-4 mb-4">Cần Thơ</h4>
            <p>Phone: 0123 456 789</p>
            <p>Email: office&#64;symphony.com</p>
            <p>Địa chỉ: Võ Văn Kiệt, Bình Thuỷ, Bình Thủy, Cần Thơ 900000</p>
        </div>
    </div>
</main>