.banner-container {
    position: relative;
}

.banner {
    width: 100%;
    height: 400px;
}

.modal-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffff;
    background: radial-gradient(circle closest-side at center, rgba(10, 10, 10, 0.4) 0%, rgba(10, 10, 10, 0.6) 60%, rgba(10, 10, 10, 0.9) 99%);
    opacity: 0.95;
}

#upgrade-content {
    margin-top: 100px;
}

.card-header:hover,
.card-header:hover .card-title {
    background-color: var(--grey-color) !important;
}

#fixedAlert {
    position: fixed;
    top: 100px; 
    right: 0;
    width: auto;
    max-width: 400px;
    z-index: 1050;
    text-align: right;
  }