<footer class="py-3 my-4 mt-0 bg-black-primary mb-5 pb-5">
    <ul class="nav justify-content-center pb-3 mb-1 m-auto">
        <li class="nav-item"><a [routerLink]="['/home']" class="nav-link px-2 text-white-primary refer">Trang Chủ</a></li>
        <li class="nav-item"><a [routerLink]="['/introduce']" class="nav-link px-2 text-white-primary refer">Giới Thiệu</a></li>
        <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link px-2 text-white-primary refer">Liên Hệ</a></li>
        <li class="nav-item"><a [routerLink]="['/clause']" class="nav-link px-2 text-white-primary refer">Điều Khoản</a></li>
        <li class="nav-item"><a [routerLink]="['/contact']" class="nav-link px-2 text-white-primary refer">Hợp Tác</a></li>
    </ul>
    <p class="text-center text-white-primary">&copy; 2024 Symphony. Tất cả các quyền được bảo lưu.</p>
</footer>