.product-song:hover {
    background-color: var(--dark_grey-color);
}

.list-group .list-group-item:hover {
    background-color: rgba(169, 214, 249, 0.997) !important;
}

#fixedAlert {
    position: fixed;
    top: 100px; 
    right: 0;
    width: auto;
    max-width: 400px;
    z-index: 1050;
    text-align: right;
  }