<li
  #item
  *ngIf="haveData()"
  class="row container-song"
  [class.active]="isActive"
  [attr.data-songid]="song.song_id"
>
  <div class="song col-8">
    <div class="row">
      <div class="col-3 song-img d-flex align-self-center">
        <a (click)="playSong()">
          <img
            [src]="'http://localhost:8080/symphony/uploads' + song.song_img"
            class="rounded-2"
            alt=""
            style="width: 45px; height: 45px; cursor: pointer"
          />
        </a>
      </div>
      <div class="col-9 song-info pe-0">
        <h6 class="text-white-primary mt-2">
          <a
            [routerLink]="['/song', song.song_id]"
            class="text-decoration-none text-white-primary"
            [class.refer]="!isActive"
          >
            {{ song.songName }}
          </a>
        </h6>
        <p
          class="text-support fw-bolder mb-1"
          style="font-size: 12px"
          [class.text-white-primary]="isActive"
        >
          <ng-container
            *ngFor="
              let singer of song.singers;
              let i = index;
              let isLast = last
            "
          >
            <a
              class="text-decoration-none text-support"
              [class.text-white-primary]="isActive"
              [class.refer]="!isActive"
              [routerLink]="['/singer', singer.singer_id]"
            >
              {{ singer.stageName }}
            </a>
            <span *ngIf="!isLast">, </span>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
  <div class="other col-4 d-flex align-self-center">
    <i
      class="fa-regular fa-heart fs-6 refer btn favorite-btn"
      [class.text-orange-primary]="favoriteSong()"
      (click)="toggleFavorite()"
    ></i>
    <div class="dropdown dropstart text-end ms-2">
      <div class="dropdown-toggle text-center" data-bs-toggle="dropdown">
        <i class="fa-solid fa-ellipsis fs-6 refer text-white-primary"></i>
      </div>
      <ul class="dropdown-menu bg-dark_grey-color">
        <li>
          <span class="dropdown-item text-white-primary btn w-100 d-block p-0">
            <button
              class="dropdown-item text-white-primary"
              data-bs-toggle="modal"
              data-bs-target="#addToPlaylistModal"
              (click)="openAddToPlaylist(song)"
            >
              <i class="fa-solid fa-plus pe-2"></i>
              Thêm vào playlist
            </button>
          </span>
        </li>
        <li>
          <span class="dropdown-item text-white-primary btn w-100 d-block p-0">
            <span
              class="favorite-btn w-100 d-block px-3 py-1"
              (click)="toggleFavorite()"
            >
              <i class="fa-regular fa-heart pe-2"></i>
              {{ favoriteSong() ? "Bỏ yêu thích" : "Yêu thích" }}
            </span>
          </span>
        </li>
        <li>
          <span class="dropdown-item text-white-primary btn w-100 d-block p-0">
            <a
              class="favorite-btn w-100 text-white-primary d-block px-3 py-1"
              href="https://mail.google.com/mail/?view=cm&fs=1&to=thaib2205958@student.ctu.edu.vn&su=Report&body=Content"
              style="text-decoration: none"
            >
              <i class="fa-regular fa-flag pe-2"></i>
              Báo cáo
            </a>
          </span>
        </li>
        <li>
          <a
            class="dropdown-item text-white-primary"
            [routerLink]="['/song', song.song_id]"
          >
            <i class="fa-solid fa-circle-info pe-2"></i>
            Chi tiết
          </a>
        </li>
      </ul>
    </div>
  </div>
</li>

<div
  class="modal fade"
  id="addToPlaylistModal"
  tabindex="-1"
  aria-labelledby="addToPlaylistLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark_grey-color text-white-primary border-0">
      <div class="modal-header">
        <h5 class="modal-title text-white-primary" id="addToPlaylistLabel">
          Chọn playlist
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="userPlaylists.length === 0"
          class="text-muted text-white-primary"
        >
          Không có playlist nào
        </div>
        <ul class="list-group list-group-flush bg-dark_grey-color">
          <li
            *ngFor="let pl of userPlaylists"
            class="list-group-item list-group-item-action border-0 bg-dark_grey-color text-white-primary"
            style="cursor: pointer"
            (click)="addSongToPlaylist(pl.playlistId)"
            data-bs-dismiss="modal"
          >
            {{ pl.playlistName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
