# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Data & uploads
uploads/

# Environment variables
.env

# Logs & temp
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints (nếu có)
.ipynb_checkpoints/
