        .content {
            border-bottom: 3px solid var(--dark_grey-color);
        }

        main.container-fluid {
            padding-top: 96px;
        }

        .carousel-item img {
            height: 360px;
        }

        .card {
            border: none;
            position: relative;
        }

        .card_song-img {
            transition: transform 0.4s ease-in-out;
        }

        .card-song:hover {
            border-radius: 8px;
            background-color: var(--dark_grey-color) !important;
        }

        .card-song:hover .card_song-img {
            transform: scale(1.07);
        }

        .new-song:hover {
            border-radius: 5px;
            background-color: var(--dark_grey-color);
        }

        .card-song:hover .card-hover-song {
            display: block;
        }

        .clean-audio-control {
            display: none;
        }

        .card-img-container {
            position: relative;
        }

        .card-hover-song {
            position: absolute;
            width: 25%;
            height: 25%;
            bottom: 10%;
            right: 10%;
            max-width: 50px;
            max-height: 50px;
            min-width: 30px;
            min-height: 30px;
            background-color: var(--orange-color);
            color: var(--black-color);
            display: none;
        }

        .card-hover-song:hover {
            transform: scale(1.1);
            filter: brightness(1.2);
            cursor: pointer;
        }

        .vip {
            position: absolute;
            top: 0;
            left: -8px;
            width: 50px;
            height: 22px;
            background-color: var(--yellow-color);
            border-radius: 4px 0 0 0;
            color: var(--white-color);
            border-top-left-radius: 10px;
            text-align: center;
            font-size: 16px;
            line-height: 16px;
            padding: 3px 0;
            font-family: Montserrat, 'Open Sans', Inter, sans-serif !important;
            font-weight: 600;
        }

        .vip::after {
            content: "";
            display: block;
            position: absolute;
            border-top: 8px solid var(--yellow-color);
            border-left: 8px solid transparent;
            top: 22px;
            left: 0;
            filter: brightness(80%);
        }

        .top-song-info {
            overflow: hidden;
        }

        .top-song,
        .top-singer {
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }

        .top-song-item:hover {
            background-color: var(--dark_grey-color);
            cursor: pointer;
        }

        @media screen and (max-width: 992px) {

            .carousel-item img {
                height: 250px;
            }

        }

        @media screen and (max-width: 576px) {

            .chart-ranking-container {
                display: none;
            }

        }