.top1-ranking {
    color: var(--blue-color);
}

.top2-ranking {
    color: var(--green-color);
}

.top3-ranking {
    color: var(--pink_strong-color);
}

.product-song:hover {
    background-color: var(--dark_grey-color);
}

#fixedAlert {
    position: fixed;
    top: 100px; 
    right: 0;
    width: auto;
    max-width: 400px;
    z-index: 1050;
    text-align: right;
  }