<!-- Sidebar giữ nguyên từ HTML gốc, bỏ các <%...%> và <c:...> -->
    <div *ngIf="admin" class="wrapper d-flex">
        <!-- Sidebar -->
        <nav class="sidebar overflow-auto" style="max-width: 250px; height: 100vh;">
            <div class="p-3">
                <div class="d-flex align-items-center mb-4 mt-2">
                    <div class="bg-white p-2 rounded me-2">
                        <img [src]="logo" alt="Symphony" class="hotel-logo">
                    </div>
                    <h4 class="mb-0">Symphony</h4>
                </div>
                
                <div class="user-info d-flex align-items-center mb-2">
                    <img 
                    style="width: 40px; height: 40px; border-radius: 50%;"
                    src="https://static.vecteezy.com/system/resources/thumbnails/012/210/707/small_2x/worker-employee-businessman-avatar-profile-icon-vector.jpg" alt="User" class="rounded-circle me-2">
                    <div>
                        <h6 class="mb-0">{{ admin.fullName }}</h6>
                        <small>Mã admin: {{ admin.userId }}</small>
                    </div>
                </div>
                <div class="mb-4">
				    <button (click)="logout()" class="btn bg-white text-primary fw-bolder">
				        Đăng xuất
				    </button>
                </div>
                
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="home" class="nav-link" data-bs-toggle="pill">
                            <i class="bi bi-speedometer2"></i> Tổng quan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="room" class="nav-link" data-bs-toggle="pill">
                            <i class="bi bi-house-door"></i> Quản lý người dùng
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
      
        <router-outlet></router-outlet>

      </div>
      