<div class="content p-4">
  <div class="tab-content">
    <div
      *ngIf="notifyTitle !== ''"
      class="alert alert-dismissible fade show"
      role="alert"
      id="fixedAlert"
      [ngClass]="isSuccess ? 'alert-success' : 'alert-danger'"
    >
      <strong>{{ notifyTitle }}</strong> {{ notifyContent }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <!-- User Management -->
    <div class="tab-pane pb-5 fade show active" id="customers">
      <h3 class="text-center mb-5">Quản lý người dùng</h3>
    </div>

    <div class="mb-5">
      <!-- Search Form -->
      <h3>Tài khoản</h3>

      <div class="row">
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            placeholder="Nhập số điện thoại..."
            name="phone"
            required=""
            [(ngModel)]="userPhone"
          />
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <button
              class="btn btn-outline-secondary btn-primary text-white mx-auto bg-primary"
              (click)="searchUsers()"
            >
              <i class="bi bi-search"></i>
              Tìm người dùng
            </button>
          </div>
        </div>
      </div>

      <!-- Table + Actions -->
      <div *ngIf="users" class="mt-4 row">
        <div class="col-sm-12 float-end mb-3 d-flex">
          <button
            *ngIf="users.length"
            class="btn btn-success me-1"
            (click)="onExportUsersExcel()"
          >
            Xuất Excel
          </button>
          <button class="btn btn-primary ms-1 bg-primary" (click)="loadUser()">
            Xem tất cả
          </button>
        </div>

        <!-- User Table -->
        <div
          class="col-sm-12 table-responsive"
          style="
            max-height: 300px;
            min-height: 300px;
            max-width: 1200px;
            overflow-y: auto;
            border: 1px solid #ddd;
          "
        >
          <table class="table table-hover table-bordered">
            <thead
              style="
                position: sticky;
                top: 0;
                background: black;
                z-index: 1;
                text-align: center;
              "
            >
              <tr class="text-center">
                <th>STT</th>
                <th>Mã người dùng</th>
                <th>Tên người dùng</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ user.userId }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.birthday | date : "dd/MM/yyyy" }}</td>
                <td>{{ getGenderText(user.gender) }}</td>
                <td>{{ user.phone }}</td>
                <td>
                  <div class="mx-auto d-flex justify-content-center">
                    <button
                      *ngIf="user.role === 'USER'"
                      class="btn btn-warning me-1"
                      (click)="onGrantSinger(user)"
                    >
                      Cấp quyền ca sĩ
                    </button>
                    <button
                      *ngIf="user.role === 'SINGER'"
                      class="btn btn-success me-1"
                    >
                      Đã cấp quyền ca sĩ
                    </button>
                    <button
                      *ngIf="user.role === 'ADMIN'"
                      class="btn btn-primary bg-primary me-1"
                    >
                      ADMIN
                    </button>
                    <button
                      class="btn btn-danger"
                      *ngIf="user.active"
                      (click)="deleteUser(user)"
                    >
                      Vô hiệu hóa
                    </button>
                    <button
                      class="btn btn-warning ms-1"
                      (click)="SelectUserEdit(user)"
                    >
                      Sửa
                    </button>
                    <button
                      class="btn btn-primary bg-primary"
                      (click)="enableUser(user)"
                      *ngIf="!user.active"
                    >
                      Khôi phục
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <h3>Thông tin ca sĩ</h3>

      <div class="row">
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            placeholder="Nhập nghệ danh ca sĩ..."
            name="phone"
            required=""
            [(ngModel)]="stageName"
          />
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <button
              class="btn btn-outline-secondary btn-primary text-white mx-auto bg-primary"
              (click)="searchSingers()"
            >
              <i class="bi bi-search"></i>
              Tìm ca sĩ
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="users" class="mt-4 row">
        <div class="col-sm-12 float-end mb-3 d-flex">
          <button
            *ngIf="users.length"
            class="btn btn-success me-1"
            (click)="onExportSingersExcel()"
          >
            Xuất Excel
          </button>
          <button
            class="btn btn-primary ms-1 bg-primary"
            (click)="loadSinger()"
          >
            Xem tất cả
          </button>
        </div>

        <!-- User Table -->
        <div
          class="col-sm-12 table-responsive"
          style="
            max-height: 300px;
            min-height: 300px;
            max-width: 1200px;
            overflow-y: auto;
            border: 1px solid #ddd;
          "
        >
          <table class="table table-hover table-bordered">
            <thead
              style="
                position: sticky;
                top: 0;
                background: black;
                z-index: 1;
                text-align: center;
              "
            >
              <tr class="text-center">
                <th>STT</th>
                <th>Mã ca sĩ</th>
                <th>Nghệ danh</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let singer of singers; let i = index">
                <td class="text-center">{{ i + 1 }}</td>
                <td>{{ singer.singer_id }}</td>
                <td>{{ singer.stageName }}</td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="singer.active ? 'bg-success' : 'bg-danger'"
                  >
                    {{ singer.active ? "Hoạt động" : "Vô hiệu" }}
                  </span>
                </td>
                <td>
                  <div class="mx-auto d-flex justify-content-center">
                    <button
                      *ngIf="singer.active"
                      class="btn btn-danger me-1"
                      (click)="deleteSinger(singer)"
                    >
                      Vô hiệu hóa
                    </button>
                    <button
                      (click)="fillFormDatasinger(singer)"
                      class="btn btn-warning me-1"
                    >
                      Sửa
                    </button>
                    <button
                      class="btn btn-primary bg-primary me-1"
                      (click)="enableSinger(singer)"
                      *ngIf="!singer.active"
                    >
                      Khôi phục
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div style="position: fixed; top: 20px; left: 30%; z-index: 1300" *ngIf="user">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div
      class="modal-content bg-dark_grey-color text-white-primary p-3 rounded-2"
    >
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chi tiết hồ sơ</h4>
        <button
          #close_form
          (click)="CloseForm()"
          type="button"
          class="btn-close bg-grey-color"
          data-bs-dismiss="modal"
          style="margin-left: 60%"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          method="post"
          enctype="multipart/form-data"
          [formGroup]="userForm"
        >
          <div class="row">
            <div class="col-sm-4">
              <input
                #inputAvatar
                id="input-change-avatar"
                (change)="onFileChange($event)"
                type="file"
                class="form-control"
                hidden
                name="avatar"
              />
              <div id="change-avatar" class="mb-3" (click)="triggerFileInput()">
                <div
                  class="change-avatar-container rounded-circle"
                  style="max-width: 200px"
                >
                  <img
                    *ngIf="user"
                    [src]="defaultUserImg"
                    alt=""
                    class="user-img-active rounded-circle w-100"
                    style="max-width: 200px"
                  />
                  <div
                    id="modal-avatar"
                    class="w-100 rounded-circle text-white-primary"
                    style="max-width: 200px"
                  >
                    <div
                      class="d-flex flex-column justify-content-center h-100 w-100"
                    >
                      <p class="text-center fs-5">
                        Chọn ảnh
                        <i class="fa-regular fa-pen-to-square"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
            <div class="col-sm-8">
              <div class="mb-3">
                <label for="userName" class="text-white-primary mb-3"
                  >Họ và tên:</label
                >
                <input
                  required
                  type="text"
                  formControlName="fullName"
                  class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                  id="userName"
                  placeholder="Nhập họ và tên"
                  name="username"
                />
                <!--  -->
              </div>
              <div class="mb-3 mt-3">
                <label for="phone" class="text-white-primary mb-3"
                  >Số điện thoại:</label
                >
                <input
                  required
                  type="text"
                  class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                  id="phone"
                  placeholder=""
                  name="phone"
                  formControlName="phone"
                />
              </div>
              <div class="mb-3 mt-3">
                <label for="birthday" class="text-white-primary mb-3"
                  >Ngày sinh:</label
                >
                <input
                  required
                  type="date"
                  class="form-control text-white-primary bg-black-primary no-outline shadow-none"
                  id="birthday"
                  placeholder=""
                  name="birthday"
                  formControlName="birthday"
                />
              </div>
              <div class="mb-3 mt-3">
                <p class="text-white-primary mb-4">Giới tính:</p>
                <label for="male" class="text-white-primary mb-3">Nam: </label>

                <input
                  required
                  type="radio"
                  class="form-check-input ms-2 me-4"
                  id="male"
                  name="gender"
                  formControlName="gender"
                  value="1"
                />

                <label for="female" class="text-white-primary mb-3">Nữ: </label>
                <input
                  required
                  type="radio"
                  class="form-check-input ms-2 me-4"
                  id="female"
                  name="gender"
                  formControlName="gender"
                  value="0"
                />

                <label for="other" class="text-white-primary mb-3"
                  >Khác:
                </label>
                <input
                  required
                  type="radio"
                  class="form-check-input ms-2 me-4"
                  value="2"
                  id="other"
                  name="gender"
                  formControlName="gender"
                />
              </div>
              <input type="text" name="CSRFToken" hidden readonly />
              <input type="text" hidden formControlName="id" name="id" />
              <input
                type="text"
                name="avatar"
                formControlName="avatar"
                hidden
              />
              <button
                type="submit"
                id="btn-submit"
                class="btn text-white-primary bg-orange-primary fw-bolder"
                (click)="onSubmit()"
              >
                Lưu
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  style="position: fixed; top: 200px; left: 40%; z-index: 1300"
  *ngIf="singer"
  class="update-container bg-dark_grey-color text-white-primary p-3 rounded-3"
>
  <h2>Cập nhật nghệ danh ca sĩ</h2>

  <form [formGroup]="singerForm" (ngSubmit)="onSubmitSinger()" class="pt-3">
    <input hidden type="number" formControlName="singer_id" />

    <label class="pe-3">Nghệ danh:</label>
    <input type="text" formControlName="stageName" />

    <div class="mt-4" style="display: flex; justify-content: center">
      <button
        class="btn btn-primary bg-primary"
        type="submit"
        [disabled]="loading || singerForm.invalid"
      >
        {{ loading ? "Đang lưu..." : "Cập nhật" }}
      </button>
      <button class="btn btn-danger ms-2" (click)="closeFormSinger()">
        Thoát
      </button>
    </div>
  </form>
</div>
