:root {
    /* Main color */
    --white-color: #ffff;
    --black-color: #0a0a0a;
    --orange-color: #ff6337;
    --text_light_theme-color: #5555;
    --text_dark_theme-color: #ffff;
    --dark_grey-color: #1e1e1e;
    --light_grey-color: #d9dce1;
  
    /* Support color */
    --grey-color: #65606d;
    --orange_pastel-color: #ff8e89;
    --yellow-color: #fde41c;
    --green-color: #00d558;
    --blue-color: #0064f1;
    --purple-color: #9826f2;
    --pink_pastel-color: #fb6dfa;
    --pink_strong-color: #ff0068;
  }
  
  html {
    background-color: var(--black-color) !important;
    color: var(--text_dark_theme-color) !important;
    width: 100wh;
  }
  
  body {
    background-color: var(--black-color);
  }
  
  input {
    border: none !important;
    font-family: Montserrat, 'Open Sans', Inter, sans-serif !important;
  }
  
  /* BORDER */
  
  .border-orange {
    border: 1px solid var(--orange-color) !important;
  }
  
  .border-light {
    border: 1px solid var(--white-color) !important;
  }
  
  .border-dark {
    border: 1px solid var(--black-color) !important;
  }
  
  /* BUTTON */
  
  .btn:active {
    border: 1px solid var(--orange-color) !important;
  }
  
  .btn:hover i {
    color: var(--orange-color) !important;
  }
  
  /* BACKGROUND */
  
  .bg-orange-primary {
    background-color: var(--orange-color) !important;
  }
  
  .bg-black-primary {
    background-color: var(--black-color) !important;
  }
  
  .bg-white-primary {
    background-color: var(--white-color) !important;
  }
  
  .bg-dark_grey-color {
    background-color: var(--dark_grey-color) !important;
  }
  
  .bg-grey-color {
    background-color: var(--grey-color) !important;
  }
  
  .bg-yellow-color {
    background-color: var(--yellow-color) !important;
  }
  
  .bg-green-color {
    background-color: var(--green-color) !important;
  }
  
  .bg-pink_strong-color {
    background-color: var(--pink_strong-color) !important;
  }
  
  
  /* TEXT */
  
  .text-support {
    color: var(--grey-color) !important;
  }
  
  .text-yellow {
    color: var(--yellow-color) !important;
  }
  
  .text-green {
    color: var(--green-color) !important;
  }
  
  .text-pink_strong {
    color: var(--pink_strong-color) !important;
  }
  
  .text-orange-primary {
    color: var(--orange-color) !important;
  }
  
  .text-white-primary {
    color: var(--text_dark_theme-color) !important;
  }
  
  .text-black-primary {
    color: var(--text_light_theme-color) !important;
  }
  
  /* HOVER */
  
  .refer:hover {
    /* font-weight: 600; */
    color: var(--orange-color) !important;
    cursor: pointer;
  }
  
  /* CONFIG */
  
  /* INPUT CONFIG */
  
  input::-webkit-input-placeholder {
    /* Chrome, Edge, Safari */
    color: var(--text_dark_theme-color) !important;
  }
  
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--text_dark_theme-color) !important;
  }
  
  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: var(--text_dark_theme-color) !important;
  }
  
  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--text_dark_theme-color) !important;
  }
  
  /* SCROLLBAR CONFIG */
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--black-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--grey-color);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* DROP DOWN CONFIG */
  
  .dropdown-item:hover {
    background-color: var(--grey-color);
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .dropdown-toggle::before {
    display: none !important;
  }
  
  /* COMBO INPUT TYPE RANGE CSS */
  
  .range-container {
    position: relative;
    width: 100%;
    padding-top: 5px;
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    background: var(--grey-color);
    outline: none;
    top: 0;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--pink_strong-color);
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
  }
  
  input[type="range"]:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  input[type="range"]:hover::-moz-range-thumb {
    opacity: 1;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--pink_strong-color);
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
  }