# JAVA BACKEND

SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/symphony_sa
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password

VNPAY_TMNCODE=your_tmn_code
VNPAY_SECRET_KEY=your_secret_key

JWT_SECRETKEY=your_jwt_secret
JWT_VALID_DURATION=3600
JWT_REFRESHABLE_DURATION=2592000

AI_SERVICE_URL=http://ai-service:8000

UPLOAD_DIR=/app/uploads

# AI SERVICE

AUDIO_DIR_NORMAL=/uploads/music/normal
AUDIO_DIR_VIP=/uploads/music/vip