#lyric {
    position: fixed;
    top: calc(100vh - 40px);
    left: 0;
    right: 0;
    min-height: calc(100vh - 90px);
    background-color: var(--black-color);
    transition: top 1s ease;
    z-index: 1030;
    font-family: Montserrat, 'Open Sans', Inter, sans-serif !important;
}

.appear {
    top: 0 !important;
}

h2 {
    z-index: 10;
    text-align: center;
}

#lyric::before,
#lyric::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  pointer-events: none;
}

p {
    font-size: 36px;
    font-weight: 600;
}

.active {
    font-size: 48px;
    font-weight: 800px;
    color: var(--orange-color);
}

#lyric::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
  }
  
#lyric::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .cd-thumb {
    animation: spin 18s linear infinite;
    animation-play-state: paused;
  }
  
  .cd-thumb.playing {
    animation-play-state: running;
  }
  
@media screen and (max-width: 576px) {
    p {
        font-size: 12px;
        font-weight: 500;
    }
    
    .active {
        font-size: 18px;
        font-weight: 600px;
        color: var(--orange-color);
    }
}